[submodule "engagment-platform-webapp"]
	path = engagement-platform-webapp
	url = git@github.com:digital-land/engagment-platform-webapp.git
[submodule "engagement-platform-cms"]
	path = engagement-platform-cms
	url = git@github.com:digital-land/engagement-platform-cms.git
